<%- include('partials/header.ejs') %>
<h1>Mercury</h1>
<div id="planet-img">
	<img src="img/mercury.jpeg" alt="Mercury" />
</div>
<p>Mercury is the closest planet to the sun. As such, it circles the sun faster than all the other planets, which is why Romans named it after their swift-footed messenger god.
<p>The Sumerians also knew of Mercury since at least 5,000 years ago. It was often associated with Nabu, the god of writing. Mercury was also given separate names for its appearance as both a morning star and as an evening star. Greek astronomers knew, however, that the two names referred to the same body, and Heraclitus, around 500 B.C., correctly thought that both Mercury and Venus orbited the sun, not Earth.

<div id="source-info">
<p>All text provided by <a href="https://www.space.com/36-mercury-the-suns-closest-planetary-neighbor.html">Space.com</a>
</div>


<%- include('partials/footer.ejs') %>
