<%- include('partials/header.ejs') %>
<h1>Saturn</h1>
<div id="planet-img">
	<img src="img/saturn.jpeg" alt="Saturn" />
</div>
<p>Saturn is the sixth planet from the Sun and the second largest planet in our solar system.
<p>Adorned with thousands of beautiful ringlets, Saturn is unique among the planets. It is not the only planet to have rings—made of chunks of ice and rock—but none are as spectacular or as complicated as Saturn's.
<p>Like fellow gas giant Jupiter, Saturn is a massive ball made mostly of hydrogen and helium.
	
<div id="source-info">
<p>All text provided by <a href="https://solarsystem.nasa.gov/planets/saturn/overview/">Nasa.gov</a>
</div>
<%- include('partials/footer.ejs') %>