<%- include('partials/header.ejs') %>
<h1>Venus</h1>
<div id="planet-img">
	<img src="img/venus.jpg" alt="Venus" />
</div>
<p>Venus is the second planet from the Sun and our closest planetary neighbor. Similar in structure and size to Earth, Venus spins slowly in the opposite direction from most planets. Its thick atmosphere traps heat in a runaway greenhouse effect, making it the hottest planet in our solar system with surface temperatures hot enough to melt lead. Glimpses below the clouds reveal volcanoes and deformed mountains.
<p>Venus is named for the ancient Roman goddess of love and beauty, who was known as Aphrodite to the Ancient Greeks.

<div id="source-info">
<p>All text provided by <a href="https://solarsystem.nasa.gov/planets/venus/in-depth/">Nasa.gov</a>
</div>

<%- include('partials/footer.ejs') %>